{% extends 'base.html' %}


{% block content %}
<h2 style='text-align:center'>{{ search | title}}</h2>

<div class='row'>
    {% for post in final_postings %}
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt=""></a>
                </div>
                <div class="card-content">
                    <p>{{ post.0 }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ post.1 }}">View listing: {{ post.2 }}</a>
                </div>
            </div> 
        </div>
    {% endfor %}
</div>
<div class="Layout container">
    <div class="footer-basic">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Home</a></li>
                    <li class="list-inline-item"><a href="#">Services</a></li>
                    <li class="list-inline-item"><a href="#">About</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Namy © 2021</p>
            </footer>
        </div>
</div>

{% endblock content %}